<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.uniclau.simplefile"
      version="0.1.0">
    <name>SimpleFile</name>
    <description>Simple File Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,file,download,uri,filesystem,local</keywords>


    <js-module src="www/simplefile.js" name="SimpleFile">
        <clobbers target="window.plugins.simpleFile" />
    </js-module>

    <js-module src="www/async.js" name="Async">
        <clobbers target="window.async" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SimpleFilePlugin">
                <param name="android-package" value="com.uniclau.simplefile.SimpleFilePlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>


        <source-file src="src/android/SimpleFilePlugin.java" target-dir="src/com/uniclau/simplefile" />      
        <source-file src="src/android/URLNetRequester.java" target-dir="src/com/uniclau/network" />      
     </platform>          

     <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SimpleFilePlugin">
                <param name="ios-package" value="CDVSimpleFile" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVSimpleFile.h" />
        <source-file src="src/ios/CDVSimpleFile.m" />
        <header-file src="src/ios/NetRequest.h" />
        <source-file src="src/ios/NetRequest.m" />

        <framework src="AssetsLibrary.framework" />
        <framework src="MobileCoreServices.framework" />
    </platform>
</plugin>
